/* Estilos generales */
.container {
  padding: 2rem;
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
