.container {
  padding: 19px 12px 62px;
  /* margin: auto; */
  background: var(--color-secundario);
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .container {
  background: var(--fondo-alterno);
  }
}
