.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
  padding-bottom: 55px;
}

/* btn1*/
.btn {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active {
  transition: 100ms;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.btn:disabled:active {
  transition: 100ms;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 25%);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn:disabled:hover {
  opacity: 0.6;
}

.btn1 {
  background-color: var(--fondo-principal);
  color: var(--color-primario);
  border: 1px solid var(--color-primario);
  height: 40px;
  width: 206px;
  transition: 0.4s ease-in-out;
  padding: 11px;
}

.btn2 {
  background-color: var(--color-secundario);
  color: var(--fondo-alterno);
  border: none;
  height: 40px;
  width: 206px;
  transition: 0.4s ease-in-out;
  padding: 11px;
}

.btn1:hover {
  color: var(--color-primario-hover);
  border-color: var(--color-primario-hover);
}

.btn1:disabled:hover {
  background-color: var(--color-primario);
  color: var(--fondo-alterno);
}

.btn2:hover {
  background-color: var(--color-secundario-hover);
}

.btn2:disabled:hover {
  background-color: var(--color-secundario-hover);
}

.w-100 {
  width: 100%;
}
