@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
--color-primario: #8A5A44;       /* Terracota profundo */
--color-primario-hover: #5a301e; /* Terracota oscuro */
--color-secundario: #e78e49;     /* Arena tostada */
--color-secundario-hover: #d44b11; /* Arena tostada oscura */
--fondo-principal: #fef6ed;      /* Blanco Calido */
--fondo-alterno: #ffeedf;        /* Beige blanco */
--texto-principal: #582E1A;      /* Marrón oscuro */
--texto-secundario: #6F3F28;     /* Marrón medio */
--acento: #C98C5A;               /* Ocre suave */
--error: #A94442;                /* Rojo tierra */
--exito: #7D9A6D;                /* Verde oliva suave */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::after,
::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--fondo-principal);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* overlay for when the menu is opened*/
body .overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  opacity: 0;
  position: fixed; /*absolute no funciona al scroll*/
  transition: opacity 250ms ease;
  width: 100%;
  z-index: -1;
}
body .overlay.visible {
  opacity: 0.5;
  z-index: 50;
  width: calc(100% - 303px);
  transition: all 0.5s;
}
